<ion-header>
    <ion-navbar>
        <ion-title>
            My superStongExtraPower TASK LIST!
        </ion-title>
        <ion-buttons end>
            <button ion-button color="royal" (click)="newTodo()">
                <ion-icon name="bookmark"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list *ngIf="todos">
        <ion-item *ngFor="let todo of todos">
            <ion-label>{{todo.title}}</ion-label>
            <ion-checkbox [(ngModel)]="todo.complete">
            </ion-checkbox>
        </ion-item>
    </ion-list>
    <p *ngIf="!todos"> No todos </p>
    <button ion-button color="light" (click)="newTodo()">New TODO</button>
</ion-content>
